.slide {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.default.slide {
    flex-direction: row;
}

.slide-title {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-shrink: 0;
    align-self: flex-start;
    padding-bottom: 1.2rem;
    align-items: center;
}

.default .slide-title {
    flex-direction: column;
    width: 180px;
    padding: 0 1.5rem 0 0.5rem;
    align-self: unset;
    align-items: unset;
}

.title-text {
    font-size: 1.8rem;
    font-weight: 700;
    background-clip: text !important;
    color: transparent!important;
}

.title-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: var(--background-color);
    border: 1px solid var(--text-base);
    transition: all .3s ease 0s;
}

.title-info > a{
    display: flex;
    font-size: .9rem;
    fill: #fff;
    span {
        display: none;
        margin-right: .3rem;
    }
}

.title-info > a:hover svg{
    fill: var(--primary-text);
}

.title-info > a > svg{
    width: .8rem;
}

.title-info:hover {
    width: fit-content;
    padding: 0 .8rem;
    span {
        display: block;
    }
}

.default .title-info {
    border: none;
    width: fit-content;
    height: fit-content;
    span {
        display: block;
    }
}

.default .title-info:hover {
    padding: 0;
}

.default.slide .slide-wrapper {
    flex: 1;
    position: relative;
    min-width: 0;
    padding: 0;
}

.slide-wrapper {
    width: 100%;
    position: relative;
    min-width: 0;
}

.slide-nav > button {
    position: absolute;
    box-shadow: 0 0 20px 5px #0003;
    background-color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    z-index: 2;
    :hover {
        cursor: pointer;
    }
}

.slide-nav > button > svg {
    width: 1.5rem;
}

.slide-nav-prev{
    left: -20px;
    top: calc(50% - 50px);
}

.slide-nav-next{
    right: -20px;
    top: calc(50% - 50px);
}

.slide-nav-prev:global(.swiper-button-disabled),
.slide-nav-next:global(.swiper-button-disabled) {
  opacity: 0;
  pointer-events: none;
}

@media (max-width:1024px){
    .default.slide {
        flex-direction: column;
        gap: 0.7rem;
    }
    .default .slide-title {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        width: 100%;
    }
    .default .slide-wrapper {
        flex: none;
        width: 100%;
    }
    .default .slide-nav > button {
        width: 30px;
        height: 30px;
    }
    .default .slide-nav-prev{
        left: -15px;
        top: calc(50% - 50px);
    }

    .default .slide-nav-next{
        right: -15px;
        top: calc(50% - 50px);
    }
}

@media (max-width:640px){
    .default .title-info span {
        display: none;
    }
}