.slide {
    display: flex;
    width: 100%;
    align-items: center;
}

.slide-title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 180px;
    padding: 0 1.5rem 0 0.5rem;
    flex-shrink: 0;
}

.title-text {
    font-size: 1.8rem;
    font-weight: 700;
    background-clip: text !important;
    color: transparent!important;
}

.title-info {
    display: flex;
    align-items: center;
}
.title-info > a{
    font-size: .9rem;
    fill: #fff;
}

.title-info > a:hover svg{
    fill: var(--primary-text);
}

.title-info > a > svg{
    margin-left: .3rem;
    transform: translateY(2px);
    width: .8rem;
}

.slide-wrapper {
    flex: 1;
    position: relative;
    min-width: 0;
}

.slide-content {
    width: 100%;
    overflow: hidden;
}

.slide-group {
    display: flex;
    width: 100%;
    min-width: 0;
    gap: 15px;
    transition: 300ms;
    animation: linear;
}

.slide-nav > button {
    position: absolute;
    box-shadow: 0 0 20px 5px #0003;
    background-color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    z-index: 15;
    :hover {
        cursor: pointer;
    }
}

.slide-nav > button > svg {
    width: 1.5rem;
}

.slide-nav-prev{
    left: -20px;
    top: calc(50% - 50px);
}

.slide-nav-next{
    right: -20px;
    top: calc(50% - 50px);
}
