.header-wrapper {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
}

.header-wrapper.fixed {
    // background-color: var(--footer-bg);
    background-color: transparent;
    position: fixed;
    z-index: 5;
}

.header-wrapper.fixed .header{
    position: unset;
}

.header {
    position: absolute;
    background-color: transparent;
    height: 70px;
    padding: 0 20px;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 40px;
}

.logo img{
    height: 100%;
}

.right-group {
    height: 100%;
    width: 882px;
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: .8rem;
}

.user {
    display: flex;
    align-items: center;
}

.user-btn {
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 40px;
    height: 40px;
    gap: 5px;
    cursor: pointer;
    font-size: .9rem;
    svg {
        width: 1.4rem;
    }
}


.menu-toggle{
  display: none;
}

.hamburger{
  display: none;
  width: 24px;
  height: 18px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger span{
  height: 2px;
  width: 100%;
  background: #fff;
  transition: .3s;
}

.menu-toggle:checked ~ .left-group .hamburger span:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}

.menu-toggle:checked ~ .left-group .hamburger span:nth-child(2){
  opacity: 0;
}

.menu-toggle:checked ~ .left-group .hamburger span:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}

.search-toggle{
  display: none;
}

.search-btn{
  display: none;
  cursor: pointer;
  align-items: center;
  position: relative;
  svg {
    height: 1.5rem;
    width: 1.5rem;
    fill: #fff;
  }
}

.search-btn span{
  display: none;
  position: absolute;
  width: 24px;
  height: 2px;
  background: white;
  top: 50%;
  right: -15px;
  transform-origin: center;
}

.search-btn span:nth-child(2){
  transform: translate(-50%,-50%) rotate(45deg);
}

.search-btn span:nth-child(3){
  transform: translate(-50%,-50%) rotate(-45deg);
}

.left-group {
    display: flex;
    align-items: center;
    gap: 30px;
}

.search-wrapper {
    flex: 1;
}

@media (max-width:1280px){
  .hamburger{
    display: flex;
  }

  .search-btn{
    display: flex;
  }

  .search-wrapper {
    display: none;
    flex: 1;
    }

  .menu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    a {
        margin-right: 40px;
    }
  }

  .right-group{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    position: absolute;
    height: fit-content;
    width: fit-content;
    top: 70px;
    left: 10px;
    background: #3c4984;
    padding: 20px;
  }

  .menu-toggle:checked ~ .right-group {
    display: flex;
  }

  .search-toggle:checked ~ .search-btn svg{
        display: none;
    }

    .search-toggle:checked ~ .search-btn span{
        display: block;
    }

    .search-toggle:checked ~ .left-group{
        display: none;
    }

    .search-toggle:checked ~ .search-wrapper{
        display: flex;
        margin-right: 20px;
    }
}
