.header-wrapper {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
}

.header-wrapper.fixed {
    // background-color: var(--footer-bg);
    background-color: transparent;
    position: fixed;
    z-index: 5;
}

.header-wrapper.fixed .header{
    position: unset;
}

.header {
    position: absolute;
    background-color: transparent;
    height: 70px;
    padding: 0 20px;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
}

.logo {
}

.logo img{
    height: 40px;
}