.slide-card {
    margin-right: 1rem;
    flex: 0 0 calc((100% - 2rem) / 3);
}

.slide-poster {
    width: 100%;
    padding-bottom: 56%;
    height: 0;
    position: relative;
    border-radius: .75rem;
    overflow: hidden;
    display: block;
}

.slide-img {
    position: absolute;
    width: 100%;
    object-fit: cover;
}

.slide-name {
    padding: 12px 16px;
}

.name {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

.origin-name > a{
    color: var(--text-base);
    font-size: .8rem;
    font-weight: 300;
}

.origin-name > a:hover{
    color: var(--text-base);
}