.slide-card {
    flex: 0 0 calc((100% - 30px) / 3);
    height: fit-content;
    min-width: 0;
}

.slide-poster {
    width: 100%;
    padding-bottom: 56%;
    height: 0;
    position: relative;
    border-radius: .75rem;
    overflow: hidden;
    display: block;
}

.slide-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-name {
    padding: 12px 16px;
    min-width: 0;
    a {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.name {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

.origin-name > a{
    color: var(--text-base);
    font-size: .8rem;
    font-weight: 300;
}

.origin-name > a:hover{
    color: var(--text-base);
}

.hover-preview {
    background: #141414;
    color: #fff;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0,0,0,.6);
    z-index: 9999;
    animation: zoom-in-zoom-out 0.25s ease;
}

@keyframes zoom-in-zoom-out {
  0% {
    scale: 80%;
  }
  100% {
    scale: 100%;
  }
}
