.home-container {
    width: 100%;
    padding: 0 20px 0 20px;
    height: 100vh;
}

.banner {
    width: 100%;
    
}

.banner-img {
    position: relative;
    padding-bottom: 50%;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
}

.banner-img::before {
    content: "";
    position: absolute;
    background-image: url(/dotted.png);
    background-repeat: repeat;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: .2;
    z-index: 1;
}

.overlay {
    position: absolute;
    inset: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background:
        /* TOP */
        linear-gradient(
        to bottom,
        rgba(0, 0, 0, .9) 0%,
        rgba(0, 0, 0, 0) 35%
        ),

        /* BOTTOM */
        linear-gradient(
        to top,
        rgba(47, 51, 70, .9) 0%,
        rgba(47, 51, 70, 0) 35%
        ),

        /* LEFT */
        linear-gradient(
        to right,
        rgba(47, 51, 70, .9) 0%,
        rgba(47, 51, 70, 0) 35%
        ),

        /* RIGHT */
        linear-gradient(
        to left,
        rgba(47, 51, 70, .9) 0%,
        rgba(47, 51, 70, 0) 35%
        );
}

.banner-info {
    position: absolute;
    z-index: 3;
    bottom: 0;
    padding: 0 30px 60px;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.banner-name {
    width: 20rem;
    font-size: 2rem;
    color: #fff;
}

.banner-name:hover {
    color: #fff!important;
}

.banner-origin-name {
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--primary-text);
}

.banner-name:hover {
    color: #fff!important;
}

.banner-tags{
    display: flex;
    gap: .6rem;
    padding-bottom: .6rem;
    button {
        font-size: .8rem;
        line-height: .8rem;
        font-weight: 300;
        color: #fff;
        background-color: var(--button-bg);
        border: 1px solid #fff;
        padding: .3rem;
        border-radius: .3rem;
    }
}

.banner-touch {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.touch-play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background: linear-gradient(39deg, rgba(254, 207, 89, 1), rgba(255, 241, 204, 1));
    border-radius: 50%;
    svg {
        width: 30px;
        fill: #000!important;
    }
}

.touch-group {
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    width: 136px;
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid var(--button-bg);
}

.touch-group:hover {
    border-color: #fff;
}

.touch-item {
    height: 100%;
    width: 100%;
    border-radius: 50px 0 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        fill: #fff;
        width: 30px;
    }
}

.touch-item:not(:first-child) {
    border-radius: 0 50px 50px 0;
    
}

.touch-item:not(:first-child)::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: var(--button-bg);
}

.touch-item:hover {
    background-color: var(--button-bg);
    svg {
        fill: var(--primary-text);
    }
}

.imdb-info {
    background-color: transparent!important;
    border: 1px solid var(--primary-text)!important;
    color: var(--primary-text)!important;
    font-weight: 400!important;
}

.imdb-info > span {
    color: #fff;
    font-weight: 500;
    font-size: .9rem;
}

.banner-category {
    display: flex;
    gap: .6rem;
    font-size: .8rem;
    line-height: .8rem;
    font-weight: 300;
    color: #fff;
    a {
        background-color: var(--button-bg);
        padding: .3rem;
        border-radius: .3rem;
    }
}

.slide-container {
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(40, 43, 58, 0) 20%, rgba(40, 43, 58, 1));
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
}