.home-container {
    width: 100%;
    padding: 0 20px 0 20px;
    background-color: var(--bg-color);
}

.topic {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-bottom: 40px;
}

.topic-header {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
}

.topic-item {
    position: relative;
    padding: 1.2rem 2.5rem 1.2rem 1.5rem;
    border-radius: .75rem;
    flex: 0 0 calc((100% - 4rem) / 6);
    color: #fff!important;
    font-size: 1.4rem;
    font-weight: 800;
}

.topic-item::after {
    content: "";
    position: absolute;
    background-image: url("/wave.png");
    border-radius: .75rem;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    -webkit-mask-image: linear-gradient(-45deg, black, transparent 40%);
    mask-image: linear-gradient(-45deg, black, transparent 40%);
    background-repeat: no-repeat;
    background-size: 200px 140px;
    background-position: 100% 100%;
    opacity: .3;
}

.topic-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    border-radius: .75rem;
    background: linear-gradient(-40deg, rgba(255, 255, 255, .2), rgba(255, 255, 255, 0) 430%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .2));
}

.topic-item:hover {
    transform: translateY(-10px);
    animation: all .3s ease 0s;
}

@keyframes all {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

.topic-content {
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
}

.topic-wrapper {
    position: relative;
    height: 110px;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    justify-content: flex-end;
}

.topic-info {
    display: flex;
    align-items: center;
    font-size: .9rem;
    font-weight: 600;
    svg {
        width: 1rem;
        fill: #fff;
    }
}

.slide-container {
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(40, 43, 58, 0) 20%, rgba(40, 43, 58, 1));
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
}

@media (max-width:640px) {
    .home-container {
        padding-top: 60px;
    }
}

.center-container {
    padding-top: 30px;
}

.skeleton-top-slide {
    height: 1000px;
    background: #222;
}

.skeleton {
  height: 250px;
  border-radius: 10px;
  margin-bottom: 1rem;
  background: linear-gradient(
    90deg,
    #222 25%,
    #333 50%,
    #222 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.slide-title {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-shrink: 0;
    align-self: flex-start;
    padding-bottom: 1.2rem;
    align-items: center;
    margin-top: 40px;
}

.title-text {
    font-size: 1.6rem;
    font-weight: 700;
    background-clip: text !important;
    color: transparent!important;
    background-color: #fff;
}

.title-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: var(--background-color);
    border: 1px solid var(--text-base);
    transition: all .3s ease 0s;
}

.title-info > a{
    display: flex;
    font-size: .9rem;
    fill: #fff;
    span {
        display: none;
        margin-right: .3rem;
    }
}

.title-info > a:hover svg{
    fill: var(--primary-text);
}

.title-info > a > svg{
    width: .8rem;
}

.title-info:hover {
    width: fit-content;
    padding: 0 .8rem;
    span {
        display: block;
    }
}