.home-container {
    width: 100%;
    padding: 70px 20px 0 20px;
    height: 100vh;
}

.slide-container {
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(40, 43, 58, 0) 20%, rgba(40, 43, 58, 1));
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
}