.hover-container {
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
    border-radius: 12px;
}

.hover-poster {
    top: 0;
    bottom: 50%;
    width: 100%;
    padding-bottom: 56%;
    img {
        border-radius: 12px 12px 0 0;
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.hover-info {
    position: absolute;
    top: calc(100% - 30px);
    width: 100%;
    z-index: 1;
    background: linear-gradient(
    to top,
    rgba(47, 51, 70, 1) 0%,
    rgba(47, 51, 70, 1) 85%,
    rgba(69, 71, 73, 0.5) 100%
  );

}

