.hover-container {
    width: 100%;
    position: absolute;
}

.hover-poster {
    position: relative;
    top: 0;
    bottom: 50%;
    width: 320px;
    img {
        width: 320px;
    }
}

.hover-info {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background: linear-gradient(
  to top,
  rgba(20, 24, 42) 0%,
  rgba(20, 24, 42) 30%,
  rgba(20, 24, 42) 60%,
  rgba(20, 24, 42) 100%
);

}

